<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="bank.domain.Account" alias="Account"/>
        <typeAlias type="bank.domain.Balance" alias="Balance"/>
        <typeAlias type="bank.domain.Transaction" alias="Transaction"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="bank.data.CurrencyTypeHandler"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mapper/AccountMapper.xml"/>
        <mapper resource="mapper/TransactionMapper.xml"/>
        <mapper resource="mapper/BalanceMapper.xml"/>
    </mappers>

</configuration>