<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bank.data.TransactionMapper">

    <resultMap id="transactionResultMap" type="Transaction">
        <id property="id" column="id"/>
        <result property="accountId" column="account_id"/>
        <result property="amount" column="amount"/>
        <result property="currency" column="currency" typeHandler="bank.data.CurrencyTypeHandler"/>
        <result property="direction" column="direction"/>
        <result property="description" column="description"/>
        <result property="balanceAfter" column="balance_after"/>
    </resultMap>

    <select id="selectByAccountId" resultMap="transactionResultMap">
        select * from transaction where account_id = #{accountId}
    </select>

    <insert id="insertTransaction" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into transaction(account_id,amount,currency,direction,description,balance_after)
        values (#{accountId},#{amount},#{currency,typeHandler = bank.data.CurrencyTypeHandler},#{direction},#{description},#{balanceAfter})
    </insert>

</mapper>